#qqqq {
  width: 100%;
}

.addtext {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.addtext-btn {
  position: relative;
}

.addtext-btn input {
  width: 100%;
  background-color: #c4c4c4;
  height: 65px;
  border-radius: 20px;
  border-style: none;
  padding-left: 60px;
  font-size: 36px;
}

.addtext-btn input:focus {
  outline: none;
}

.addtext-btn button {
  position: absolute;
  width: 70px;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  height: 40px;
  right: 15px;
  bottom: -1px;
}

.addtext-btn button:hover {
  background-color: aqua;
  transition: 0.7s;
}
