body {
    background-color: #c4c4c4;
}

main {
    width: 100%;
    margin-top: 150px;
}

.joinbtn > label:first-child > input {
    margin-left: 15px;
    margin-bottom: 5px;
}

.joinbtn > label:nth-child(3) > input {
    margin-left: 32px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.joinbtn > label:nth-child(4) > input {
    margin-left: 15px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.joinbtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formbtn {
    margin-left: 175px;
    margin-top: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titlename {
    margin: 0 auto;
    text-align: center;
    width: 30%;
}

.titlename h1 {
    font-size: 60px;
}

.titlename p {
    text-align: center;
    line-height: 1.5;
    font-size: 15px;
    
}

.text {
    border: 2px solid black;
}