body {
    background-color: #c4c4c4;
}

main {
    width: 100%;
    margin-top: 150px;
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pw {
    margin-right: 16px;
    margin-top: 5px;
}

#submit {
    margin-left: 188px;
    margin-top: 5px;
}