.footer {
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 90px;
}
.page {
  width: 80%;
  margin: 0 auto;
}

.page-num {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-num button {
  width: 3rem;
  height: 3rem;
  border-style: none;
  background-color: white;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px gray;
  cursor: pointer;
}
